
section {
    padding-top: 5rem;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #9cbbff;
}

.jumbotron img {
    width: 200px;
    height: 200px;
}

.project {
    background-color: #9cbbff;
}